@model WGS_PROJ.Models.TrInvoice
@{ ViewData["Title"] = ""; }

<script type="text/javascript">
  var tableLookup;
  var totalQTY = 0;
  var courier_fee = 0;
  $(document).ready(function () {
    $("#InvoiceDate").datepicker();

    tableLookup = $("#tableLookup").DataTable({
      "columnDefs": [
        {
          "targets": [0],
          "visible": false,
          "searchable": false
        }
      ]
    });

    $('#tableLookup tbody').on('click', 'tr', function () {
      var data = tableLookup.row(this).data();
      addRow(data);
    });

    $("#CourierId").on("change", function () {
      $.ajax({
        type: "GET",
        url: "/home/getCourier/" + this.value,
        //data: id,
        //dataType: "json",
        //contentType: "application/json",
        success: function (response) {
          courier_fee = response.result.courierFee;
          courierFee();
          grandTotal();
        },
        error: function (event, textStatus, errorThrown) {
          alert("failed to get courier info");
        }
      });
    });

    $("#CourierId").trigger("change");
    grandTotal();
    courierFee();
  });

  function addItem() {
    $("#modalLookUp").modal('show');
  }

  function addRow(data) {
    var table = $("#tableItem");

    var idx = [];
    $(table).children("tbody").find("input[name*='TrInvoiceDetail']").each(function (i, e) {
      var x = e.name.replace(/[^0-9]/g, '');
      idx.push(x);
    });

    var rowCount = 0;// $('#_Table tr').length - 1;
    if (idx.length > 0) {
      rowCount = Math.max.apply(Math, idx) + 1;
    }
    var content = "<tr><td> <input type='hidden' name='TrInvoiceDetail.Index' value='" + rowCount + "' /><input type='hidden' class='form-control' name='TrInvoiceDetail[" + rowCount + "].ProductId' readonly value=" + data[0] + " /><input type='hidden' class='form-control weight' value=" + data[3] + " />" + data[1] + "</td><td><input type='number' class='form-control totalWeight' name='TrInvoiceDetail[" + rowCount + "].TotalWeight' readonly value=" + data[3] + " /></td><td><input type='number' onkeyup='pricePerItem(this);' onchange='pricePerItem(this);' class='form-control qty' name='TrInvoiceDetail[" + rowCount + "].Qty' value='1' /></td><td><input type='text' class='form-control price' name='price' readonly value=" + data[2] + " /></td><td><input type='number' class='form-control totalprice' name='TrInvoiceDetail[" + rowCount + "].TotalPrice' readonly value=" + data[2] + " /></td></tr>";
    $(table).children("tbody").append(content);
    grandTotal();
    courierFee();
    $("#modalLookUp").modal('hide');
  }

  function pricePerItem(e) {
    var $tr = $(e).closest('tr');
    $qty = $tr.find('input.qty');
    $weight = $tr.find('input.weight');
    $price = $tr.find('input.price');
    $totalprice = $tr.find('input.totalprice');
    $totalWeight = $tr.find('input.totalWeight');

    $totalprice.val($qty.val() * $price.val());
    $totalWeight.val($qty.val() * $weight.val());

    grandTotal();
    courierFee();

  }

  function grandTotal() {
    var grandtotal = 0;

    $("#tableItem").find("input.totalprice").each(function () {
      if (!isNaN($(this).val())) {
        grandtotal += parseInt($(this).val());
      }
    });

    if (isNaN(grandtotal))
      grandtotal = 0;

    $("input.grandTotal").val(grandtotal);
    $("input.Total").val(parseFloat($("input.courierFee").val()) + parseFloat($("input.grandTotal").val()));
  }

  function courierFee() {
    var totalWeight = 0;

    $("#tableItem").find("input.totalWeight").each(function () {
      if (!isNaN($(this).val())) {
        totalWeight += parseInt($(this).val());
      }
    });

    if (isNaN(totalWeight))
      totalQty = 0;

    $("input.courierFee").val(totalWeight * courier_fee);
    $("input.Total").val(parseFloat($("input.courierFee").val()) + parseFloat($("input.grandTotal").val()));
  }

  function viewInvoice() {
    window.location = "/home/invoice/" + $("#InvoiceId").val();
  }

</script>
<div class="container">
  <div class="container">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">No Invoice</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" required asp-for="InvoiceId">
      </div>
      <div class="col-sm-3">
        <input type="button" class="btn btn-primary" onclick="viewInvoice();" value="View">
      </div>
    </div>
  </div>

</div>
<div class="container">
  <form method="post">
    <div class="container">
      <fieldset>
        <legend>Invoice Detail</legend>
        <input type="hidden" asp-for="InvoiceId">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Invoice Date</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" required asp-for="InvoiceDate">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">To</label>
              <div class="col-sm-9">
                <textarea class="form-control" required asp-for="InvoiceTo"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Sales Name</label>
              <div class="col-sm-9">
                <select class="form-control" asp-for="SalesId" required asp-items="@(ViewBag.sales)">
                  <option></option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Courier</label>
              <div class="col-sm-9">
                <select class="form-control" asp-for="CourierId" required asp-items="@(ViewBag.courier)">
                  <option></option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Ship To</label>
              <div class="col-sm-9">
                <textarea class="form-control" required asp-for="InvoiceShipTo"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Payment Type</label>
              <div class="col-sm-9">
                <select class="form-control" required asp-for="PaymentType">
                  <option></option>
                  <option value="COD">COD</option>
                  <option value="CASH">CASH</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <input type="button" class="btn btn-primary" onclick="addItem();" value="Add Item">
        </div>
        <div class="col-sm-12">
          <table class="table table-bordered" id="tableItem">
            <thead>
              <tr>
                <th>Item</th>
                <th>Weight(kg)</th>
                <th>Qty</th>
                <th>Unit Price</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              @if (Model != null)
              {
                int i = 0;
                foreach (var p in Model.TrInvoiceDetail)
                {
        <tr>
          <td>
            <input type="hidden" name="TrInvoiceDetail.Index" value="@i">
            <input type="hidden" class="form-control" name="TrInvoiceDetail[@i].InvoiceId" readonly value="@p.InvoiceId">
            <input type="hidden" class="form-control" name="TrInvoiceDetail[@i].InvoiceDetailId" readonly value="@p.InvoiceDetailId">
            <input type="hidden" class="form-control" name="TrInvoiceDetail[@i].ProductId" readonly value="@p.ProductId">
            <input type="hidden" class="form-control weight" value="@p.Product.ProductWeight">
            @p.Product.ProductDesc
          </td>
          <td><input type="number" class="form-control totalWeight" name="TrInvoiceDetail[@i].TotalWeight" readonly value="@p.TotalWeight"></td>
          <td><input type="number" onkeyup="pricePerItem(this);" onchange="pricePerItem(this);" class="form-control qty" name="TrInvoiceDetail[@i].Qty" value="@p.Qty"></td>
          <td><input type="text" class="form-control price" name="price" readonly="" value="@p.Product.ProductPrice"></td>
          <td><input type="number" class="form-control totalprice" name="TrInvoiceDetail[@i].TotalPrice" readonly="" value="@p.TotalPrice"></td>
        </tr>
i++;
      }
    }
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3"></td>
                <td>Sub Total</td>
                <td><input type="number" disabled class="form-control grandTotal"></td>
              </tr>
              <tr>
                <td colspan="3"></td>
                <td>Courier Fee</td>
                <td><input type="number" disabled class="form-control courierFee"></td>
              </tr>
              <tr>
                <td colspan="3"></td>
                <td>Grand Total</td>
                <td><input type="number" disabled class="form-control Total"></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="container">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>

<div class="modal fade" id="modalLookUp" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalLookUpTitle"></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <input type="hidden" name="LookUpType" id="LookUpType" />
          <div class="col-lg-12">
            <table class="table table-bordered table-hover" id="tableLookup" style=" white-space:nowrap;width:100%">
              <thead>
                <tr>
                  <th>
                    production id
                  </th>
                  <th>
                    item
                  </th>
                  <th>
                    Price
                  </th>
                  <th>
                    Weight
                  </th>
                </tr>
              </thead>
              <tbody>
                @foreach (var p in ViewBag.product as List<MsProduct>)
                {
          <tr>
            <td>@p.ProductId</td>
            <td>@p.ProductDesc</td>
            <td>@p.ProductPrice</td>
            <td>@p.ProductWeight</td>
          </tr>
}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
